*{
  box-sizing:border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container header, nav{
  text-align: center;
}
header>h1{
  color: rgb(0,221,0);
  font-size: 32px;
}
header img{
  margin-top: 8%;
  width: 22%;
}
nav{
  background-color: rgb(0,221,0);
  padding: 1%;
  margin: 1% 8% 1% 8%;
}

body{
  background-image: url(img/background.jpg);
  background-size: cover;
}

.container{
  width: 62%;
  margin: auto;
  margin-top: 2%;
  padding-bottom: 6%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
main{
  color: white;
  padding: 1% 8%;
}

section h2{
  display: inline-block;
  padding: 4px;
}

section div{
  border-radius: 10px;
  padding: 1%;
}

.scooter1 div{
  background-color: goldenrod;
  padding-bottom: 2%;
  margin-right: 65%;
  margin-bottom: 2%;
}
.scooter2 div{
  background-color: limegreen;
  padding-bottom: 2%;
  margin-right: 35%;
  margin-bottom: 2%;
}
.scooter3 div{
  background-color: indianred;
  padding-bottom: 2%;
  margin-right: 90%;
  margin-bottom: 2%;
}
